#goToTop {
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
    position: fixed;
    left: 70px;
    bottom: 25px;
    z-index: 996;
    border: none;
    background-color: #006E9D;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;


    i {
        color: white;
        background-color: #006E9D;
        font-size: 25px;
    }
}

.whatsapp-chatra {
    a {
        color: #fff;
    }

    i {
        font-size: 35px;
        padding-bottom: 2px;
    }

    .back-to-whatsapp {
        position: fixed;
        left: 15px;
        bottom: 20px;
        z-index: 996;
        background: #25d366;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        transition: all 0.4s;
    }
}

#above_footer {
    color: white;
    padding: 2rem 0;
    background-color: #2D729B;

    .row {
        label {
            color: black;
            font-size: 27;
            font-weight: bold;

            a {
                font-size: 25;
            }
        }

        .Services,
        .Blogs {
            label {
                color: #fff;
                padding-bottom: 7px;
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        }



        .footer-form {

            label {
                color: #fff;
                font-size: 27;
                font-weight: bold;
                margin-bottom: 10px;
            }



            form {


                input,
                textarea {
                    color: #000;
                    border: 2px solid #a1deff;
                    border-radius: 0px;
                    // width: 300px;
                    height: 40px;
                    margin-bottom: 0;
                }

                input::placeholder,
                textarea::placeholder {
                    // font-weight: bold;
                    font-size: 15px;
                }

                input[type="text"] {
                    font-size: 15px;
                }

                button {
                    border-radius: 0px;
                }
            }
        }
    }
}

footer {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #006E9D;

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}