.for-others {
    background-color: #006E9D;

    .nav-link {
        color: white;
    }

    #colorswitch {
        // display: none;
        content: url('../../img/logo_whiteBG.png');
    }

    ul.navbar-nav .active {
        font-weight: bold;
        color: white;
    }
}