.for-others {
  .navbar {
    background-color: rgba(0, 110, 157);

    .nav-link {
      color: white;
    }

    #colorswitch {
      content: url("../../img/logo_whiteBG.png");
    }

    ul.navbar-nav .active {
      font-weight: bold;
      color: white;
    }

    .nav-item a {
      &:hover {
        text-decoration: none;
        color: white;
        font-weight: 500;
      }

      &:active {
        font-weight: bold;
      }
    }
  }
}


.hero-section {
  // min-height: 65vh;
  background-color: #006e9d;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/services-backgrond.png");

  // content: fit;
  .card {
    background-color: #fff;
    border: none;
    border-radius: 0px;
    // width: fit-content;


    label {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      // display: flex;
      // justify-content: center;
      padding-top: 10px;
    }

    form {
      text-align: center;
      padding-bottom: 10px;

      input,
      textarea {
        color: #000;
        border-radius: 0px;
        margin: 0 7% 10px 7%;
        width: 86%;
        resize: none;
      }

      input::placeholder,
      textarea::placeholder {
        font-size: 15px;
      }

      input[type="text"] {
        font-size: 15px;
      }
    }
  }

  .hero-text {
    color: white;

    h1 {
      font-weight: bold;
      padding-bottom: 10px;
    }

    h3 {
      font-weight: lighter;
    }
  }
}

#recent-blogs {
  a {
    text-decoration: none;
  }
}