#hero {
    display: flex;
    align-items: center;
    background: url("../../img/hero-bg-image-raw.png") 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    min-height: 100vh;
    color: #006E9D;


    h1 {
        font-size: 4 rem;
    }

    p {
        font-size: 1.5rem;
        color: black;
    }

    .container-fluid {
        .form-row {
            .card {
                position: absolute;
                background-color: #fff;
                bottom: 0;
                border-bottom: none;
                height: auto;
                width: 27%;
                border-radius: 0px;

                .hero-form {
                    label {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        padding-top: 10px;
                    }

                    form {

                        input,
                        textarea {
                            color: #000;
                            border-radius: 0px;
                            margin: 0 7% 10px 7%;
                            width: 86%;

                        }

                        input::placeholder,
                        textarea::placeholder {
                            font-size: 15px;
                        }

                        input[type="text"] {
                            font-size: 15px;
                        }

                        button {
                            border-radius: 0px;
                        }
                    }
                }
            }
        }
    }
}


#body-section {

    #about_us,
    #why_us {
        h2 {
            margin-bottom: 25px;
        }

        p {
            font-size: larger;
            padding: 0px;
        }
    }

    .row {
        h2 {
            text-align: center;
        }

        p {
            text-align: justify;
        }
    }

    #client_review {
        .row {
            img {
                border-radius: 5rem;
            }

            .card {
                border-radius: 0px;
            }
        }

        i {
            color: #ffa534;
        }
    }

    #our_services {
        position: relative;

        h4 {
            padding-bottom: 1rem;
        }

        i {
            font-size: xxx-large;
        }
    }

    #contact_us,
    #Steps_of_work,
    #prices {
        color: white;

        .container-fluid {
            background-color: #2D729B !important
        }
    }

    #contact_us,
    #prices {
        a {
            border-radius: 0px;
        }
    }

    #Steps_of_work .nav-tabs .nav-link.active {
        color: #000;

    }

    #Steps_of_work .nav-tabs .nav-link {
        color: white;
        border-radius: 0px;
    }

    .accordion-button:not(.collapsed) {
        background-color: #2D729B;
        color: white;
    }

    #Steps_of_work {
        overflow-x: hidden;

        h2 {
            span {
                font-weight: 700
            }
        }

        .tab-pane {
            .img-content {
                margin-right: calc(50% - 50vw);
                background-color: #fff;

                .img-section {
                    background-color: #2D729B;
                }

                .content-section {
                    color: #000;
                }
            }
        }
    }

    #above-footer-form {
        .card {
            // position: absolute;
            background-color: #2D729B;
            border: none;
            height: auto;
            width: 27%;
            border-radius: 0px;

            .footer-form {
                label {
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                }

                form {

                    input,
                    textarea {
                        color: #000;
                        border-radius: 0px;
                        margin: 0 7% 10px 7%;
                        width: 86%;

                    }

                    input::placeholder,
                    textarea::placeholder {
                        font-size: 15px;
                    }

                    input[type="text"] {
                        font-size: 15px;
                    }

                    button {
                        border-radius: 0px;
                    }
                }
            }
        }

    }
}