@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");





@import "./index";

.navbar {
  .nav-link {
    padding-right: 20px !important;
    // font-weight: bold;
    // color: black;
  }

  ul.navbar-nav .active {
    font-weight: bold;
    color: black;
  }


  button {
    margin-left: 30px;
    border-radius: 0px;
  }
}

section {
  padding-top: 2rem;
}

@import "./footer";

#navbar {
  transition: 0.3s ease-in-out;
}

// .for-others {
//   background-color: #a1deff !important;
// }

// .dropdown:hover .dropdown-menu {
//   display: block;
//   margin-top: 0;
// }

// .row {
//   .card {
//     justify-content: center;
//     position: relative;
//     width: 30%;
//     margin-right: 2em;

//   }
// }