@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
#hero {
  display: flex;
  align-items: center;
  background: url("../../img/hero-bg-image-raw.png") 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  min-height: 100vh;
  color: #006E9D;
}
#hero h1 {
  font-size: 4 rem;
}
#hero p {
  font-size: 1.5rem;
  color: black;
}
#hero .container-fluid .form-row .card {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  border-bottom: none;
  height: auto;
  width: 27%;
  border-radius: 0px;
}
#hero .container-fluid .form-row .card .hero-form label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#hero .container-fluid .form-row .card .hero-form form input,
#hero .container-fluid .form-row .card .hero-form form textarea {
  color: #000;
  border-radius: 0px;
  margin: 0 7% 10px 7%;
  width: 86%;
}
#hero .container-fluid .form-row .card .hero-form form input::-moz-placeholder, #hero .container-fluid .form-row .card .hero-form form textarea::-moz-placeholder {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form input:-ms-input-placeholder, #hero .container-fluid .form-row .card .hero-form form textarea:-ms-input-placeholder {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form input::placeholder,
#hero .container-fluid .form-row .card .hero-form form textarea::placeholder {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form input[type=text] {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form button {
  border-radius: 0px;
}

#body-section #about_us h2,
#body-section #why_us h2,
#body-section #client_review h2,
#body-section #our_services h2,
#body-section #faq h2 {
  margin-bottom: 25px;
}
#body-section #about_us p,
#body-section #why_us p,
#body-section #client_review p,
#body-section #our_services p,
#body-section #faq p {
  font-size: larger;
  padding: 0px;
}
#body-section .row h2 {
  text-align: center;
}
#body-section .row p {
  text-align: justify;
}
#body-section #client_review .row img {
  border-radius: 5rem;
}
#body-section #client_review .row .card {
  border-radius: 0px;
}
#body-section #client_review i {
  color: #ffa534;
}
#body-section #our_services {
  position: relative;
}
#body-section #our_services h4 {
  padding-bottom: 1rem;
}
#body-section #our_services i {
  font-size: xxx-large;
  color: #006E9D;
}
#body-section #contact_us,
#body-section #Steps_of_work,
#body-section #prices {
  color: white;
}
#body-section #contact_us .container-fluid,
#body-section #Steps_of_work .container-fluid,
#body-section #prices .container-fluid {
  background-color: #2D729B !important;
}
#body-section #contact_us a,
#body-section #prices a {
  border-radius: 0px;
}
#body-section #Steps_of_work .nav-tabs .nav-link.active {
  color: #000;
}
#body-section #Steps_of_work .nav-tabs .nav-link {
  color: white;
  border-radius: 0px;
}
#body-section .sow-bt .nav-link {
  background-color: #2D729B;
}
#body-section .sow-bt .nav-tabs .nav-link.active {
  background-color: #fff;
  color: #000;
}
#body-section .sow-bt .nav-tabs .nav-link {
  color: #fff;
  border-radius: 0px;
}
#body-section #Steps_of_work {
  overflow-x: hidden;
}
#body-section #Steps_of_work h2 span {
  font-weight: 700;
}
#body-section #Steps_of_work .tab-pane .img-content {
  margin-right: calc(50% - 50vw);
  background-color: #fff;
}
#body-section #Steps_of_work .tab-pane .img-content .img-section {
  background-color: #2D729B;
}
#body-section #Steps_of_work .tab-pane .img-content .content-section {
  color: #000;
}
@media only screen and (min-width: 770px) {
  #body-section #above-footer-form .col-lg-3Half {
    width: 27%;
  }
  #body-section #above-footer-form .col-lg-42Half {
    width: 36.5%;
  }
}
#body-section #above-footer-form .card {
  background-color: #2D729B;
  border: none;
  height: auto;
  width: 95%;
  border-radius: 0px;
}
#body-section #above-footer-form .card .footer-form label {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#body-section #above-footer-form .card .footer-form form input,
#body-section #above-footer-form .card .footer-form form textarea {
  color: #000;
  border-radius: 0px;
  margin: 0 7% 10px 7%;
  width: 86%;
}
#body-section #above-footer-form .card .footer-form form input::-moz-placeholder, #body-section #above-footer-form .card .footer-form form textarea::-moz-placeholder {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form input:-ms-input-placeholder, #body-section #above-footer-form .card .footer-form form textarea:-ms-input-placeholder {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form input::placeholder,
#body-section #above-footer-form .card .footer-form form textarea::placeholder {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form input[type=text] {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form button {
  border-radius: 0px;
}

body {
  overflow-x: hidden;
}

@media all and (min-width: 992px) {
  header .navbar .nav-item .dropdown-menu {
    display: none;
  }
  header .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  header .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
header :has(.show) {
  background-color: #006E9D;
}
header :has(.show) .nav-link {
  color: aliceblue !important;
}
header :has(.show) .navbar-brand #colorswitch {
  display: block;
  content: url("../../img/logo_whiteBG.png");
}

.navbar .nav-link {
  padding-right: 20px !important;
  color: #000;
}
.navbar ul.navbar-nav .active {
  font-weight: bold;
  color: black;
}
.navbar button {
  margin-left: 30px;
  border-radius: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section {
  padding-top: 3rem;
}

.back-to-whatsapp {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  left: 15px;
  bottom: 20px;
  z-index: 996;
  background: #24c254;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.back-to-whatsapp i {
  font-size: 34px;
  color: #fff !important;
  line-height: 0;
}
.back-to-whatsapp:hover {
  background: #5fcf80;
  color: #fff;
}

.whatsapp-card {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 10px;
  bottom: 80px;
  z-index: 996;
}
.whatsapp-card .card {
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}
.whatsapp-card .card-header {
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  background-color: #1a6f64;
  border: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}
.whatsapp-card .card-header .chat-icon {
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0.5rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin-right: 0.8rem;
}
.whatsapp-card .card-header .chat-icon i {
  font-size: 35px;
  color: #fff;
}
.whatsapp-card .card-header .chat-person {
  margin-right: auto;
}
.whatsapp-card .card-header .chat-person p {
  margin: 0;
  color: #fff;
  font-size: clamp(0.9rem, 1.5vw, 1.3rem);
}
.whatsapp-card .card-header .chat-person h5 {
  font-size: clamp(1.1rem, 2vw, 1.8rem);
  color: #fff;
}
.whatsapp-card .card-body {
  background-image: url("../../img/whatsapp-bg.webp");
}
.whatsapp-card .card-body .text-box {
  text-align: start;
  width: 100%;
  padding: 0.7rem 1rem;
  margin: 0;
  background-color: #fff;
  font-size: 14px;
  border-radius: 10px;
}
.whatsapp-card .card-body .text-box span {
  color: #868686;
  font-weight: 400;
}
.whatsapp-card .card-body a {
  background-image: none;
}
.whatsapp-card .card-footer {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  background-color: #fff;
  border: none;
}
.whatsapp-card .card-footer a {
  width: 100%;
}
.whatsapp-card .card-footer .btn-all {
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  color: #fff;
  transition: 0.4s background-color;
  border: none;
  margin: 0.6em 0em;
  background-color: #24c254;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .whatsapp-card .card-body .text-box {
    width: 60%;
  }
}
#above_footer {
  color: white;
  padding: 2rem 0;
  background-color: #2D729B;
}
#above_footer .row label {
  color: black;
  font-size: 27;
  font-weight: bold;
}
#above_footer .row label a {
  font-size: 25;
}
#above_footer .row .Services label,
#above_footer .row .Blogs label {
  color: #fff;
  padding-bottom: 7px;
}
#above_footer .row .Services a,
#above_footer .row .Blogs a {
  color: #fff;
  text-decoration: none;
}

footer {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #006E9D;
}
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar {
  transition: 0.3s ease-in-out;
}

.for-others {
  background-color: #006E9D;
}
.for-others .nav-link {
  color: white;
}
.for-others #colorswitch {
  content: url("../../img/logo_whiteBG.png");
}
.for-others ul.navbar-nav .active {
  font-weight: bold;
  color: white;
}/*# sourceMappingURL=main.css.map */