@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");





@import "./index";

body {
  overflow-x: hidden;
}

header {

  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
      display: none;
    }

    .navbar .nav-item:hover .dropdown-menu {
      display: block;

      a {
        color: #000;
      }
    }

    .navbar .nav-item .dropdown-menu {
      margin-top: 0;
    }
  }

  & :has(.show) {
    background-color: #006E9D;

    .nav-link {
      color: aliceblue !important;
    }

    .navbar-brand {
      #colorswitch {
        display: block;
        content: url('../../img/logo_whiteBG.png');
      }
    }
  }
}

.navbar {



  .nav-link {
    padding-right: 20px !important;
    color: #000;
  }

  ul.navbar-nav .active {
    font-weight: bold;
    color: black;
  }


  button {
    margin-left: 30px;
    border-radius: 0px;
    height: fit-content;
  }

  .nav-item a {
    &:hover {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }

    &:active {
      font-weight: bold;
    }

  }
}

section {
  padding-top: 3rem;
}

@import "./footer";

#navbar {
  transition: 0.3s ease-in-out;
}



@import "./for-others";