@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
#hero {
  display: flex;
  align-items: center;
  background: url("../../img/hero-bg-image-raw.png") 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  min-height: 100vh;
  color: #006E9D;
}
#hero h1 {
  font-size: 4 rem;
}
#hero p {
  font-size: 1.5rem;
  color: black;
}
#hero .container-fluid .form-row .card {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  border-bottom: none;
  height: auto;
  width: 27%;
  border-radius: 0px;
}
#hero .container-fluid .form-row .card .hero-form label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#hero .container-fluid .form-row .card .hero-form form input,
#hero .container-fluid .form-row .card .hero-form form textarea {
  color: #000;
  border-radius: 0px;
  margin: 0 7% 10px 7%;
  width: 86%;
}
#hero .container-fluid .form-row .card .hero-form form input::-moz-placeholder, #hero .container-fluid .form-row .card .hero-form form textarea::-moz-placeholder {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form input:-ms-input-placeholder, #hero .container-fluid .form-row .card .hero-form form textarea:-ms-input-placeholder {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form input::placeholder,
#hero .container-fluid .form-row .card .hero-form form textarea::placeholder {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form input[type=text] {
  font-size: 15px;
}
#hero .container-fluid .form-row .card .hero-form form button {
  border-radius: 0px;
}

#body-section #about_us h2,
#body-section #why_us h2 {
  margin-bottom: 25px;
}
#body-section #about_us p,
#body-section #why_us p {
  font-size: larger;
  padding: 0px;
}
#body-section .row h2 {
  text-align: center;
}
#body-section .row p {
  text-align: justify;
}
#body-section #client_review .row img {
  border-radius: 5rem;
}
#body-section #client_review .row .card {
  border-radius: 0px;
}
#body-section #client_review i {
  color: #ffa534;
}
#body-section #our_services {
  position: relative;
}
#body-section #our_services h4 {
  padding-bottom: 1rem;
}
#body-section #our_services i {
  font-size: xxx-large;
}
#body-section #contact_us,
#body-section #Steps_of_work,
#body-section #prices {
  color: white;
}
#body-section #contact_us .container-fluid,
#body-section #Steps_of_work .container-fluid,
#body-section #prices .container-fluid {
  background-color: #2D729B !important;
}
#body-section #contact_us a,
#body-section #prices a {
  border-radius: 0px;
}
#body-section #Steps_of_work .nav-tabs .nav-link.active {
  color: #000;
}
#body-section #Steps_of_work .nav-tabs .nav-link {
  color: white;
  border-radius: 0px;
}
#body-section .accordion-button:not(.collapsed) {
  background-color: #2D729B;
  color: white;
}
#body-section #Steps_of_work {
  overflow-x: hidden;
}
#body-section #Steps_of_work h2 span {
  font-weight: 700;
}
#body-section #Steps_of_work .tab-pane .img-content {
  margin-right: calc(50% - 50vw);
  background-color: #fff;
}
#body-section #Steps_of_work .tab-pane .img-content .img-section {
  background-color: #2D729B;
}
#body-section #Steps_of_work .tab-pane .img-content .content-section {
  color: #000;
}
@media only screen and (min-width: 770px) {
  #body-section #above-footer-form {
    /* For desktop: */
  }
  #body-section #above-footer-form .col-lg-3Half {
    width: 27%;
  }
  #body-section #above-footer-form .col-lg-42Half {
    width: 36.5%;
  }
}
#body-section #above-footer-form .card {
  background-color: #2D729B;
  border: none;
  height: auto;
  width: 95%;
  border-radius: 0px;
}
#body-section #above-footer-form .card .footer-form label {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
#body-section #above-footer-form .card .footer-form form input,
#body-section #above-footer-form .card .footer-form form textarea {
  color: #000;
  border-radius: 0px;
  margin: 0 7% 10px 7%;
  width: 86%;
}
#body-section #above-footer-form .card .footer-form form input::-moz-placeholder, #body-section #above-footer-form .card .footer-form form textarea::-moz-placeholder {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form input:-ms-input-placeholder, #body-section #above-footer-form .card .footer-form form textarea:-ms-input-placeholder {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form input::placeholder,
#body-section #above-footer-form .card .footer-form form textarea::placeholder {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form input[type=text] {
  font-size: 15px;
}
#body-section #above-footer-form .card .footer-form form button {
  border-radius: 0px;
}

body {
  overflow-x: hidden;
}

header :has(.show) {
  background-color: #006E9D;
}
header :has(.show) .nav-link {
  color: aliceblue !important;
}
header :has(.show) .navbar-brand #colorswitch {
  display: block;
  background: url(../../img/logo_whiteBG.png) no-repeat !important;
}

.navbar .nav-link {
  padding-right: 20px !important;
  color: #000;
}
.navbar ul.navbar-nav .active {
  font-weight: bold;
  color: black;
}
.navbar button {
  margin-left: 30px;
  border-radius: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

section {
  padding-top: 3rem;
}

.whatsapp-chatra a {
  color: #fff;
}
.whatsapp-chatra i {
  font-size: 35px;
  padding-bottom: 2px;
}
.whatsapp-chatra .back-to-whatsapp {
  position: fixed;
  left: 15px;
  bottom: 20px;
  z-index: 996;
  background: #25d366;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

#above_footer {
  color: white;
  padding: 2rem 0;
  background-color: #2D729B;
}
#above_footer .row label {
  color: black;
  font-size: 27;
  font-weight: bold;
}
#above_footer .row label a {
  font-size: 25;
}
#above_footer .row .Services label,
#above_footer .row .Blogs label {
  color: #fff;
  padding-bottom: 7px;
}
#above_footer .row .Services a,
#above_footer .row .Blogs a {
  color: #fff;
  text-decoration: none;
}

footer {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #006E9D;
}
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar {
  transition: 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */