@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
#hero {
  display: flex;
  align-items: center;
  background: url("../../img/hero-bg-image.png") 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #006E9D;
}
#hero h1 {
  font-size: 3 rem;
}
#hero p {
  font-size: 1rem;
  color: black;
}
#hero .card {
  margin-left: 110px;
  width: 19rem;
  background-color: #EEEFF3;
  border: none;
}
#hero .card .hero-form label {
  font-size: 27;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
#hero .card .hero-form form {
  margin-left: 7%;
}
#hero .card .hero-form form input,
#hero .card .hero-form form select {
  color: #000;
  border: 2px solid #a1deff;
  border-radius: 10px;
  width: 93%;
  height: 40px;
  margin-bottom: 10px;
}
#hero .card .hero-form form input::-moz-placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-size: 15px;
}
#hero .card .hero-form form input:-ms-input-placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-size: 15px;
}
#hero .card .hero-form form input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-size: 15px;
}
#hero .card .hero-form form input[type=text] {
  font-size: 15px;
}
#hero .card .hero-form form textarea,
#hero .card .hero-form form select {
  color: #000;
  border: 2px solid #a1deff;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 93%;
}
#hero .card .hero-form form textarea::-moz-placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-size: 15px;
}
#hero .card .hero-form form textarea:-ms-input-placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-size: 15px;
}
#hero .card .hero-form form textarea::placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-size: 15px;
}
#hero .card .hero-form form button {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#body-section .row h2 {
  text-align: center;
}
#body-section .row p {
  text-align: justify;
}
#body-section #client_review .row img {
  border-radius: 5rem;
}
#body-section #client_review i {
  color: #ffa534;
}
#body-section #our_services {
  position: relative;
}
#body-section #contact_us,
#body-section #Steps_of_work,
#body-section #prices {
  color: white;
}
#body-section #contact_us .container-fluid,
#body-section #Steps_of_work .container-fluid,
#body-section #prices .container-fluid {
  background-color: #2D729B !important;
}
#body-section #Steps_of_work .nav-tabs .nav-link.active {
  color: #000;
}
#body-section #Steps_of_work .nav-tabs .nav-link {
  color: white;
}
#body-section .accordion-button:not(.collapsed) {
  background-color: #2D729B;
  color: white;
}

.nav-link {
  padding-right: 15px !important;
}

section {
  padding: 4rem 0;
}

#goToTop {
  opacity: 0;
  visibility: hidden;
  transition: opacity 600ms, visibility 600ms;
  position: fixed;
  left: 70px;
  bottom: 25px;
  z-index: 996;
  border: none;
  background-color: #006E9D;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
#goToTop i {
  color: white;
  background-color: #006E9D;
  font-size: 25px;
}

.whatsapp-chatra a {
  color: #fff;
}
.whatsapp-chatra i {
  font-size: 35px;
  padding-bottom: 2px;
}
.whatsapp-chatra .back-to-whatsapp {
  position: fixed;
  left: 15px;
  bottom: 20px;
  z-index: 996;
  background: #25d366;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

#above_footer {
  color: white;
  padding: 2rem 0;
  background-color: #2D729B;
}
#above_footer .row label {
  color: black;
  font-size: 27;
  font-weight: bold;
}
#above_footer .row label a {
  font-size: 25;
}
#above_footer .row .Services label, #above_footer .row .Blogs label {
  color: #fff;
  padding-bottom: 7px;
}
#above_footer .row .Services a, #above_footer .row .Blogs a {
  color: #fff;
  text-decoration: none;
}
#above_footer .row .footer-form label {
  color: #fff;
  font-size: 27;
  font-weight: bold;
  margin-bottom: 10px;
}
#above_footer .row .footer-form form input,
#above_footer .row .footer-form form select {
  color: #000;
  border: 2px solid #a1deff;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 0;
}
#above_footer .row .footer-form form input::-moz-placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
  font-size: 15px;
}
#above_footer .row .footer-form form input:-ms-input-placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
  font-size: 15px;
}
#above_footer .row .footer-form form input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
  font-size: 15px;
}
#above_footer .row .footer-form form input[type=text] {
  font-size: 15px;
}
#above_footer .row .footer-form form textarea,
#above_footer .row .footer-form form select {
  color: #000;
  border: 2px solid #a1deff;
  border-radius: 10px;
}
#above_footer .row .footer-form form textarea::-moz-placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
  font-size: 15px;
}
#above_footer .row .footer-form form textarea:-ms-input-placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
  font-size: 15px;
}
#above_footer .row .footer-form form textarea::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
  font-size: 15px;
}
#above_footer .row .footer-form form button {
  border-radius: 10px;
}

footer {
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #006E9D;
}
footer p {
  margin-top: 5px;
  margin-bottom: 5px;
}

#navbar {
  transition: 0.3s ease-in-out;
}/*# sourceMappingURL=main.css.map */